.example {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: hsl(0, 0%, 90%);
	font-size: 1.25rem;
	inline-size: 100%;
	padding-block: 1em;
	padding-inline: 2em;
	text-align: center;
}
