.body {
	font-family: "Arial", sans-serif;
}

.color-accent-1 {
	color: $color-accent-1;
}
.color-accent-2 {
	color: $color-accent-2;
}
.color-accent-3 {
	color: $color-accent-3;
}
em {
	font-style: italic;
}
