@mixin slide-from-top-start {
	opacity: 0;
	transform: translateY(-80px);
}

@mixin slide-from-top-finish {
	opacity: 1;
	transform: translateY(0);
}

@keyframes slide-from-top {
	0% {
		@include slide-from-top-start;
	}
	100% {
		@include slide-from-top-finish;
	}
}

@media (prefers-reduced-motion: no-preference) {

	[data-a-type="slide-from-top"]:not([data-a-state="running"], [data-a-state="finished"]) {
		@include slide-from-top-start;
	}

	[data-a-type="slide-from-top"][data-a-state="running"] {
		animation: slide-from-top ease;
	}

	[data-a-type="slide-from-top"][data-a-state="finished"] {
		@include slide-from-top-finish;
	}
}
