@mixin fade-out-start {
	opacity: 1;
}

@mixin fade-out-finish {
	opacity: 0;
}

@keyframes fade-out {
	0% {
		@include fade-out-start;
	}
	100% {
		@include fade-out-finish;
	}
}

@media (prefers-reduced-motion: no-preference) {

	[data-a-type="fade-out"]:not([data-a-state="running"], [data-a-state="finished"]) {
		@include fade-out-start;
	}

	[data-a-type="fade-out"][data-a-state="running"] {
		animation: fade-out ease;
	}

	[data-a-type="fade-out"][data-a-state="finished"] {
		@include fade-out-finish;
	}
}
